# =========================
# GENERAL
# =========================
APP_NAME=MatriuWeb
APP_ENV=development

# =========================
# WEB
# =========================
WEB_PORT=5000
WEB_INTERNAL_PORT=8080

# =========================
# NGINX
# =========================
NGINX_PORT=4444
NGINX_HOST=tuteapps.ddns.net

# =========================
# REDIS
# =========================
REDIS_PORT=6379

# =========================
# PATHS
# =========================
DATA_PATH=/docker/MatriuWeb/data
CONFIG_PATH=/docker/MatriuWeb/data/config
BACKUP_PATH=/docker/MatriuWeb/data/config/backups

# =========================
# MONITORING
# =========================
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

# =========================
# SECURITY
# =========================
ENABLE_AUTH=false
